<div id="" class="gadget_title" style="">
  <h3 style=""><img src="<%= image_path('icons/icon_blog.gif') %>" align="top" style="margin-right:5px;"><%= @gadget_title %></h3>
</div>
<div id="" class="gadget_body" style="">
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <% @blogs.each do |blog| %>
      <tr>
        <td style="text-align:left;height:20px;width:30px;">
          <% if blog.post_date.to_date >= (Date.today - 5) %>
            <img src="<%= image_path('icons/icon_balloon_new.gif') %>" align="top" class="gadget_table_icon">
          <% else %>
            <img src="<%= image_path('icons/icon_balloon.gif') %>" align="top" class="gadget_table_icon">
          <% end %>
        </td>
        <td>
          <%= link_to cut_off("【#{blog.d_blog_head.title}】#{blog.title}", 34)+ "&nbsp;<#{datetime_strftime(blog.post_date)}>", {:controller => "/blog/view", :action => "top", :user_cd => blog.d_blog_head.user_cd} %>
        </td>
      </tr>
    <% end %>
  </table>
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
      <td style="text-align:center;">
      <% if @blogs.size > 0 %>
        <%= will_paginate @blogs, :renderer => RemoteLinkRenderer,
                                  :update =>"home_top_blog",
                                  :params=> {:controller => "/home/mypage", :action => :gadget_blog_long},
                                  :prev_label => "<<前へ",
                                  :next_label => "次へ>>",
                                  :method => :get
        %>
      <% end %>
      </td>
    </tr>
  </table>
</div>
