<div id="" class="gadget_title" style="">
    <h3 style=""><img src="<%= image_path('icons/icon_message.gif') %>" align="top" style="margin-right:5px;"><%= @gadget_title %></h3>
</div>
<div id="" class="gadget_body" style="">
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <!-- データを取り出す -->
    <% @target_data.each do |target| %>
      <!-- スケジュールの表示(当日データ) -->
      <% if target[0] == 2 %>
        <% reserve = target[1] %>
        <tr>
          <td colspan=2>
            <% disp_time = "" %>
            <!-- 時間指定の場合 -->
            <% if reserve.plan_allday_flg == 0 %>
              <!-- 開始日の場合 -->
              <% if Date.today == reserve.plan_date_from %>
                <% disp_time += reserve.plan_time_from.strftime("%H:%M") + "-" %>
                <!-- 終了日と同日の場合 -->
                <% if Date.today == reserve.plan_date_to %>
                  <% disp_time += reserve.plan_time_to.strftime("%H:%M") %>
                <% else %>
                  <% disp_time += "24:00" %>
                <% end %>
              <!-- 終了日の場合 -->
              <% elsif Date.today == reserve.plan_date_to %>
                <% disp_time += "00:00-" + reserve.plan_time_to.strftime("%H:%M") %>
              <% else %>
                <% disp_time += "00:00-24:00" %>
              <% end %>
            <% else %>
             <% disp_time += "終日" %>
            <% end %>

            <!-- 内容表示 -->
            <img src="<%= image_path('icons/icon_balloon.gif') %>" align="top" class="gadget_table_icon">
            <%= link_to "<今日の予定>[#{(disp_time)}]#{reserve.title}", {:controller => "/schedule/reserve/", :action => "index_day"} %>
          </td>
        </tr>

      <!-- メッセージデータの表示 -->
      <% elsif target[0] == 3 %>
        <% message = target[1] %>
        <tr>
          <td>
            <!-- 内容表示 -->
            <img src="<%= image_path('icons/icon_balloon.gif') %>" align="top" class="gadget_table_icon">
            <!-- スケジュールへの遷移 -->
            <% if message.etcint1 == 1 %>
              <%= link_to "<スケジュール>#{message.title}", {:controller => "/schedule/reserve/", :action => "index_day", :day => message.etctxt1} %>
            <!-- 施設への遷移 -->
            <% elsif message.etcint1 == 2 %>
              <%= link_to "<施設予約>#{message.title}", {:controller => "/facility/reserve/", :action => "index_day", :day => message.etctxt1} %>
            <% elsif message.etcint1 == 0 %>
              <%
                message_body = ""
                unless message.body.nil?
                  message_body = message.body
                end
              %>
              <%= link_to message.title + message_body, {:controller=>"/bulletin", :action=>"main"}%>
            <% end %>
          </td>
          <td>
            <%= link_to_remote "[×]",
              :confirm=>"削除してよろしいですか？",
              :update=>"mypage_new_message",
              :url => {:controller => "/home/mypage", :action => :gadget_new_message, :delete_id => message.id}
            %>
          </td>
        </tr>

      <!-- Webメモリの表示 -->
      <% elsif target[0] == 1 %>
        <% memory = target[1] %>
        <tr>
          <td colspan=2>
            <img src="<%= image_path('icons/icon_balloon.gif') %>" align="top" class="gadget_table_icon">
            <%= link_to "&lt;Webメモリー&gt;[#{memory.d_cabinet_files[0].file_name unless memory.d_cabinet_files.length == 0}]の有効期限を確認してください。", {:controller=>"/cabinet/mine/", :action=>"index"} %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<!-- ページ制御 -->
<!-- 2ページ以上ある場合 -->
<% if @total_page_cnt > 1  %>
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
      <tr>
        <td style="text-align:center;">
          <div class="pagination" update="mypage_new_message" method="get">
            <!-- 現在のページが2ページ目以降の場合 -->
            <% if 1 < @current_page %>
              <span class="prev_page">
                <a onclick="PageControl(<%=@current_page-1%>);" href="#"><<前へ</a>
              </span>
            <% else %>
              <span class="disabled prev_page"><<前へ</span>
            <% end %>
            <!-- ページ番号表示 -->
            <% for i in 1..@total_page_cnt %>
              <!-- 改行 -->
              <% if (i >= 16) && ((16 % i == 0) || (i % 16 == 0)) %>
                <br><br>
              <% end %>
              <!-- ページ番号 -->
              <% if i == @current_page %>
                <span class="current"><%=i%></span>
              <% else %>
                <span>
                  <a onclick="PageControl(<%=i%>);" href="#"><%=i%></a>
                </span>
              <% end %>
            <% end %>
            <!-- 現在のページが最終ページでない場合 -->
            <% if @total_page_cnt > @current_page %>
              <span class="next_page">
                <a onclick="PageControl(<%=@current_page+1%>);" href="#">次へ>></a>
              </span>
            <% else %>
              <span class="disabled next_page">次へ>></span>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
<!--
  /*
  * ページ遷移
  */
  function PageControl(target_page){
    $.ajax({
        type:'get',
        url:base_uri + '/home/mypage/gadget_new_message?page=' + target_page,
        success:
            function(request){
                $('#mypage_new_message').html(request);
            }
    });
  }
-->
</script>

