<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "jquery/treeview/jquery.treeview.js",
      "jquery/mbTabset/mbTabset.js",
      "app/report"
    ]) %>
<% end -%>
<% #StyleSheet(CSS)ファイルを<HEAD>で読み込ませる %>
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/treeview/jquery.treeview.css",
      "jquery/mbTabset/mbTabset.css",
      "app/report",
      "pagenate.css"
    ]) %>
<% end -%>

<div style="padding:5px;">
  <div class="tabset" id="tabset" style="border:0;text-align:left;">
    <ul>
      <li><%= link_to "日報入力", :controller => "/report/main", :action => "input_tab" %></li>
      <% if @subordinate_count > 0 %>
        <li><%= link_to "上司確認コメント", :controller => "/report/main", :action => "comment_tab" %></li>
      <% end %>
      <li><%= link_to "日報検索", :controller => "/report/main", :action => "search_tab" %></li>
      <li><%= link_to "設定", :controller => "/report/main", :action => "setting_tab" %></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  <!--
    var tabs = new Array();
    $(document).ready(
      function(){
        //タブを表示
        $("#tabset").tabs();
        $("#tabset").find("ul").attr("class", "ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all");

        // タブの枠線を描く
        cls = "ui-widget-content ui-corner-bottom mbTabsetContainer";
        hide = " ui-tabs-hide";
        elements = $("#tabset").find("ul").find("a");
        key_string = "ui-tabs-";

        for(i=0; i<elements.length; i++){
          // ”ui-tabs-"を含む要素を取り出す。
          if(String(elements[i]).search(key_string) > 0){
            str = "#" + String(elements[i]).substring(String(elements[i]).search(key_string));
            tabs[tabs.length] = str;
          }
        }

        for(i=0; i<tabs.length; i++){
          if(i!=0){
            cls += hide;
          }
          $(tabs[i]).attr("class", cls);
        }
      }
    );
  -->
</script>
