  <div class="e_note_general_frame_borderless" style="margin-left:10px;">
    <table class="enote_app_title">
      <tr style="vertical-align:middle;">
        <td class="e_note_content_title" style="width:120px;">
          <%= h("日報入力") %>
        </td>
        <td style="width:180px;">&nbsp;</td>
        <td style="width:70px; text-align:right;">
          <%= image_tag("widget_ico_on.gif", :class => "enote_title_block") %>日付：
        </td>
        <td style="width:200px; text-align;left;">
          <div>
            <span class='enote_icon_arrow_left' onclick="ClickBeforeDay_input();">&nbsp;</span>
            <input type="text" id="input_report_date" value="<%= Date.today %>" size="11" maxlength="11" />
            <span class='enote_icon_arrow_right' onclick="ClickNextDay_input();">&nbsp;</span>
          </div>
          <div id="lh_pull_down_calendar_menu"></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>

  <table style="margin-left:5px;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding-left:5px;">
        <div id="RightColumn">
          <table id='action_table_title_0' class="enote_general_table1_cell_bordered" style='width:940px;margin-left:1px;'>
            <tr class="enote_general_table1_title">
              <th class="enote_general_table1_cell_bordered" style="width:25px;padding:0px;">&nbsp;</th>
              <th class="enote_general_table1_cell_bordered" style="text-align:center;width:300px;padding:0px;">
                    <%= h("得意先") %>
              </th>
              <th class="enote_general_table1_cell_bordered" style="width: 150px;text-align:center;padding:0px;">
                    <%= h("対象者") %>
              </th>
              <th class="enote_general_table1_cell_bordered" style="width: 120px;text-align:center;padding:0px;">
                    <%= h("活動内容") %>
              </th>
              <th class="enote_general_table1_cell_bordered" style="width: 120px;text-align:center;padding:0px;">
                    <%= h("活動詳細") %>
              </th>
              <%# if ftime == 1 %>
                <th class="enote_general_table1_cell_bordered" style="width: 80px;text-align:center;padding:0px;">
                    <%= h("活動時間") %>
              </th>
              <%# end %>
              <%# if fsales == 1 %>
              <th class="enote_general_table1_cell_bordered" style="width: 80px;text-align:center;padding:0px;">
                    <%= h("売上金額") %>
              </th>
                <%# end %>
              <th class="enote_general_table1_cell_bordered" style="width: 65px;padding:0px;">
                    &nbsp;
              </th>
            </tr>
          </table>
        </div>
        <div id="report_list" style="overflow-y:scroll;width:957px;height:200px;border-left:1px solid #b2b2b2;border-bottom:1px solid #b2b2b2;"></div>
        <input type="hidden" id="selected_report_id" value="" />
      </td>
    </tr>
    <tr>
      <td>
        <div class="tabset" id="tabset_c" style="border:0;text-align:left;">
          <ul>
            <li><%= link_to "活動内容", :controller => "/report/main", :action => "report_tab" %></li>
            <li><%= link_to "総括コメント", :controller => "/report/main", :action => "summary_tab" %></li>
          </ul>
        </div>
      </td>
    </tr>
  </table>

<script type="text/javascript">
  <!--
    // タブの名前を格納する配列
    var tabs = new Array();
    $("#input_report_date").change(
      function(){
        // 入力された日付が正当なものであれば、一覧を取得する。
        var report_date = $("#input_report_date").val();
        if(!checkDateValidity(report_date)){
          alert("入力された日付が正しくありません。");
          return;
        }
        get_input_list();
        get_summary_comment();
      }
    );

    function ClickNextDay_input(){
      // 現在、テキストボックスに表示されている日付を取得
      var report_date = $("#input_report_date").val();
      // 入力日付の正当性をチェックする
      if(!checkDateValidity(report_date)){
        alert("入力された日付が正しくありません。");
        return;
      }
      // 翌日日付を取得
      var next_date = getNextDate(report_date);
      // 設定
      $("#input_report_date").val(next_date);
      get_input_list();
      get_summary_comment();
    }

    function ClickBeforeDay_input(){
      var report_date = $("#input_report_date").val();
      // 入力日付の正当性をチェックする
      if(!checkDateValidity(report_date)){
        alert("入力された日付が正しくありません。");
        return;
      }
      // 前日日付を取得
      var previous_date = getPreviousDate(report_date);
      // 設定
      $("#input_report_date").val(previous_date);
      get_input_list();
      get_summary_comment();
    }

    function get_input_list(){
      report_date = $("#input_report_date").val();
      jQuery.ajax(
        {
          type : "GET",
          url  : base_uri + "/report/main/report_list",
          data :
            {
              date : report_date
            },
          success :
            function(data, dataType){
              $("#report_list").html(data);
            },
          error :
            function(){
              alert("通信エラー");
            },
          compelete :
            function(){}
        }
      );
    }


    $(document).ready(
      function(){
        setCalendar($("#input_report_date"));
        get_input_list();
        // リストの項目をタブ化する。
        $("#tabset_c").tabs();
        // タブの背景色を変更する。
        $("#tabset_c").find("ul").attr("class", "ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all");

        // タブの枠線を描く
        cls = "ui-widget-content ui-corner-bottom mbTabsetContainer";
        hide = " ui-tabs-hide";
        elements = $("#tabset_c").find("ul").find("a");
        key_string = "ui-tabs-";

        for(i=0; i<elements.length; i++){
          // ”ui-tabs-"を含む要素を取り出す。
          if(String(elements[i]).search(key_string) > 0){
            str = "#" + String(elements[i]).substring(String(elements[i]).search(key_string));
            tabs[tabs.length] = str;
          }
        }

        for(i=0; i<tabs.length; i++){
          if(i!=0){
            cls += hide;
          }
          $(tabs[i]).attr("class", cls);
        }
      }
    );
  -->
</script>
