<% unless @search_list.nil? %>
  <%
    counter = 1
    class_tr = "enote_general_table1_odd"
    class_td = "enote_general_table1_cell_bordered"
  %>
  <input type="hidden" id="current_order" value="<%= @current_order %>" />
  <table class="enote_general_table1_cell_bordered" cellpadding="0" cellspacing="0" style="width:910px;">
    <% counter = 1%>
    <% @search_list.each do |search| %>
      <%
        if counter % 2 == 0
          class_tr = "enote_general_table1_even"
        else
          class_tr = "enote_general_table1_odd"
        end
      %>
      <tr class="<%= class_tr %>">
        <td class="<%= class_td %>" rowspan="2" style="width:30px;text-align:center;"><%= counter %></td>
        <td class="<%= class_td %>" rowspan="2" style="width:80px;text-align:center;"><%= date_strftime(search.d_report.action_date) %></td>
        <td class="<%= class_td %>" style="width:100px;"><div style="padding:0px 4px;"><%= user_name search.d_report.user_cd %></div></td>
        <td class="<%= class_td %>" style="width:260px;"><div style="padding:0px 4px;"><%= customer_name search.company_cd %></div></td>
        <td class="<%= class_td %>" style="width:120px;"><div style="padding:0px 4px;"><%= action_target_name search.action_target_cd %></div></td>
        <td class="<%= class_td %>" style="width:100px;"><div style="padding:0px 4px;"><%= action_group_name search.action_group_cd %></div></td>
        <td class="<%= class_td %>" style="width:100px;"><div style="padding:0px 4px;"><%= action_name search.action_cd %></div></td>
        <td class="<%= class_td %>" style="width:120px;text-align:center;"><div style="padding:0px 4px;"><%= search.action_time.to_f %>h/<%= search.sale_amount.to_i %>円</div></td>
      </tr>
      <tr>
        <td class="enote_general_table1_cell_bordered" style="text-align:center;font-weight:bold;background-color:#99CCFF;">コメント</td>
        <td class="<%= class_td %>" colspan="5">
          <div style="padding:0px 4px;"><%= search.comment %></div>
        </td>
      </tr>
      <% counter = counter + 1 %>
    <% end %>
  </table>
  <!-- 使用された検索条件 -->
  <input type="hidden" id="search_condition_date_from" value="<%= @date_from %>" />
  <input type="hidden" id="search_condition_date_to"   value="<%= @date_to %>" />
  <input type="hidden" id="search_condition_comment"   value="<%= @comment %>" />
  <input type="hidden" id="search_condition_action_target_cd" value="<%= @action_target_cd %>" />
  <input type="hidden" id="search_condition_action_group_cd" value="<%= @action_group_cd %>" />
  <input type="hidden" id="search_condition_action_cd" value="<%= @action_cd %>" />
<% end %>
