<!-- 管理者の選択ツリー -->

<div style="height:150px;width:380px;border:1px solid black;background-color:white;text-align:left;overflow-y:scroll;">
  <input type="hidden" id="selected_admin" value="" />
  <ul id="sosiki_browser2" class="filetree">
    <li>
      <span class="file">
      	<font id="setting_org_0" class="setting_org">
                    全社
        </font>
      </span>
    </li>
    <%
      prev_org = nil
      clsLi = ""
      clsSpan = ""
      name = ""
      pprev_lvl = 0
      prev_lvl = 0
      prev_org_cd_length = 0
      org_cd_length = 0
    %>
    <% org_list.each do |org|%>
      <% if prev_org %>
        <% if prev_org.org_cd4 && prev_org.org_cd4.strip != "" && prev_org.org_cd4 != "　" %><%# # 3番目の条件は、全角スペース対応 %>
          <li>
            <span class="file">
              <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                <%= prev_org.org_name4 %>
              </font>
            </span>
          </li>
          <% if org.org_lvl == 1 %>
            </ul></ul>
          <% elsif org.org_lvl == 2 %>
            </ul></ul>
          <% elsif org.org_lvl == 3 %>
            </ul>
          <% end %>
        <% else%>
          <% if prev_org.org_cd3 && prev_org.org_cd3.strip != "" %>
            <% if org.org_cd4.strip != "" %>
              <li class="closed">
                <span class="folder">
                  <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                    <%= prev_org.org_name3 %>
                  </font>
                </span>
                <ul>
            <% else %>
              <li>
                <span class="file">
                  <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                    <%= prev_org.org_name3 %>
                  </font>
                </span>
              </li>
            <% end %>
            <% if org.org_lvl == 1%>
              </ul>
            <% end %>
          <% else %>
            <% if prev_org.org_cd2 && prev_org.org_cd2.strip != "" %>
              <% if org.org_cd3.strip != "" %>
                <li class="closed">
                  <span class="folder">
                    <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                      <%= prev_org.org_name2 %>
                    </font>
                  </span>
                  <ul>
              <% else %>
                <li>
                  <span class="file">
                    <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                      <%= prev_org.org_name2 %>
                    </font>
                  </span>
                </li>
              <% end %>
            <% else %>
              <% if prev_org.org_name1 != "本社"%>
                </ul></li>
              <% end %>
              <li class="closed">
                <span class="folder">
                  <font id="setting_org_<%= prev_org.org_cd %>" class="setting_org" >
                    <%= prev_org.org_name1 %>
                  </font>
                </span>
                <ul>
            <% end %>
          <% end %>        
        <% end %>
      <% end %>
      <% prev_org = org %>
    <% end %>
    <!-- prev_orgを表示するイテレータになっているので、最終要素は別に表示ロジックを設ける -->
    <li>
      <span class="file">
        <font id="setting_org_<%= @org_list[org_list.length-1].org_cd %>" class="setting_org">
          <%= @org_list[org_list.length-1].org_name4 %>
	    </font>
      </span>
    </li>
  </ul>
</div>

<script type="text/javascript">
  <!--
    $(document).ready(
      function(){
        $(".setting_org").click(
          function(){
            id = $(this);
            name = $(this).text();
            bgChange($(id), $(".setting_org"));
            $("#selected_admin").val(name + "," + id.attr("id").replace("setting_org_", ""));
            url = base_uri + "/notice/main/search_member?org_cd=:org_cd";
            url = url.replace(":org_cd", id.attr("id").replace("setting_org_", ""));
            $("#member_list").load(url);
          }
        );
      }
    );
  //-->
</script>
