<!--　公開対象組織(お知らせ)-->

<%
  options = ""
  hidden_value = ""
  unless @d_notice_body.nil?
    org_name = ""
    org_code = ""
    @d_notice_body.d_notice_public_orgs.each do |org|
      if org.org_cd == "0"
        org_name = "全社"
        org_code = "0"
      else
        org_name = @org_table[org.org_cd]
        org_code = org.org_cd
      end
      options += "<option value=#{org_code}>#{org_name}</option>"
      hidden_value += "_" + org_code + "_,"
    end
  end
%>

<table>
  <tr>
    <td>
      <div id="public_org" style="border:1px solid black;width:250px;height:150px;background-color:white;text-align:left;overflow-y:scroll;">
        <%= hidden_field 'public_org_cd', '' %>
		
        <ul id="sosiki_browser" class="orgtree">
          <%
            prev_org = nil
            prev_org_lvl = 1
            li_class = "closed"
            li_close_tag = ""
            span_class = "folder"
            style = ""
          %>
          <li>
            <span class="file">
              <font id="public_org_0" class="public_org" >全社</font>
            </span>
          </li>
          <% @m_orgs.each do |org| %>

            <% prev_org_lvl = prev_org.org_lvl unless prev_org.nil?%>
            <% if prev_org_lvl < org.org_lvl %>
              <ul>
            <% elsif prev_org_lvl > org.org_lvl %>
              <% t = prev_org_lvl - org.org_lvl %>
              <% if t == 1 %>
                </ul>
              <% elsif t == 2 %>
                </ul></ul>
              <% elsif t == 3%>
                </ul></ul></ul>
              <% end %>
            <% end %>

            <% prev_org = org %>
            <%
              org_name = ""
              if org.org_lvl == 1
                li_class = "closed"
                li_close_tag = ""
                span_class = "folder"
                style = ""
                org_name = org.org_name1
              elsif org.org_lvl == 2
                li_class = "closed"
                li_close_tag = ""
                span_class = "folder"
                style = ""
                org_name = org.org_name2
              elsif org.org_lvl == 3
                li_class = ""
                li_close_tag = ""
                span_class = "folder"
                style = ""
                style = ""
                org_name = org.org_name3
              elsif org.org_lvl == 4
                span_class = "folder"
                style = ""
                org_name = org.org_name4
              end

              if org_name == "-"
                next
              end
            %>
            <li class="<%= li_class %>" style="<%= style %>">
              <span class="<%= span_class %>">
                <font id="public_org_<%= org.org_cd %>" class="public_org">
                  <%= org_name %>
                </font>
              </span>
            <%= li_close_tag %>
          <% end %>
        </ul>
      </div>
    </td>
    <td style="width:40px;" align="center">
<!--
      <span id="public_org_add">&gt;</span>
-->
      <input type="button" id="public_org_add" class="submit_small" value=">" />
      <br />
      <br />
<!--
      <span id="public_org_delete">&lt;</span>
-->
      <input type="button" id="public_org_delete" class="submit_small" value="<" />
    </td>
    <td valign="top" text-align="left">
      <div style="border:1px solid black;width:200px;height:150px;background-color:#fff;text-align:left;">
        <%= select_tag("public_org_list", options, :size=>13, :style=>'width:100%;height:100%;border:0;', :multiple=>true) %>
        <%= hidden_field "selected_public_org_list", "", :value=>hidden_value %>
        <%= hidden_field "deleted_public_org_list", "", :value=>"" %>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--
  
    $(document).ready(
      function(){
        // 公開対象組織ツリーを構成
        $("#sosiki_browser").treeview();

        $(".public_org").click(
          function(){
            tid = "#" + $(this).attr("id");
            value = $(tid).attr("id").replace("public_org_", "");
            bgChange($(tid), $(".public_org"));
            name = $(this).text();
            $("#public_org_cd_").val(name + "," + value);
          }
	    );
		
		$(".public_org").mouseover(
          function(){
            $(this).css("cursor", "pointer");
          }
        );
		
        $(".public_org").mouseout(
          function(){
            $(this).css("cursor", "default");
          }
        );

        /*
         * 公開組織の追加が押下された時に、選択されている要素を右のセレクトボックスの要素に追加します。
         */
        $("#public_org_add").click(
          function(){
            element = $("#public_org_cd_").val().split(",");
            // すでに同じものがあれば追加はしない。
            if($("#selected_public_org_list_").val().indexOf("_" + element[1] + "_,") == -1){
              $("#public_org_list").append($('<option>').attr({value:element[1]}).text(element[0]));
              $("#selected_public_org_list_").val($('#selected_public_org_list_').val() + "_" + element[1] + "_,");
              // 削除する組織CDの要素に追加するものと同じ値がある場合は空白と置き換える。
              $("#deleted_public_org_list_").val($("#deleted_public_org_list_").val().replace("_" + element[1] + "_,", ""));
            }
          }
        );
	
        /*
         * 公開対象組織の追加にマウスカーソルを合わせたときに、背景色を変更します。
         */
        $("#public_org_add").mouseover(
          function(){
            $(this).css("cursor", "pointer");
          }
        );
	
        /*
         * 公開組織の追加からマウスカーソルが外れたときに、背景色を元に戻します。
         */
        $("#public_org_add").mouseout(
          function(){
            $(this).css("cursor", "default");
          }
        );
	  
        /*
         * 公開組織の削除が押下された時に、選択されている要素を右のセレクトボックスの要素に追加します。
         */
        $("#public_org_delete").click(
          function(){
            txt = "";
            val = "";
            arrayText = "";
            arrayVal = "";
            txtDeletedTxt = ""
            $("#public_org_list option:selected").each(
              function(){
                txt += $(this).html() + ",";
                val += $(this).val() + ",";
              }
            );
            arrayText = txt.split(",");
            arrayVal = val.split(",");
            txtSelectedTxt = $("#selected_public_org_list_").val();
            arraySelectedTxt = txtSelectedTxt.split(",");

            for(i=0; i<arrayVal.length-1; i++){
              txtDeletedTxt += "_" + arrayVal[i] + "_,"
              txtSelectedTxt = txtSelectedTxt.replace("_" + arrayVal[i] + "_,", "");
            }
            $("#deleted_public_org_list_").val($("#deleted_public_org_list_").val() + txtDeletedTxt);
            $("#selected_public_org_list_").val(txtSelectedTxt);
            $("#public_org_list option:selected").remove();
          }
        );

        /*
         * 公開対象組織の削除にマウスカーソルを合わせたときに、背景色を変更します。
         */
        $("#public_org_delete").mouseover(
          function(){
            $(this).css("cursor", "pointer");
          }
        );
	
        /*
         * 公開組織の削除からマウスカーソルが外れたときに、背景色を元に戻します。
         */
        $("#public_org_delete").mouseout(
          function(){
            $(this).css("cursor", "default");
          }
        );
/*
        id = "<%#= public_org_cd %>";
        if(id != ""){
          jid = "#public_org_" + id;
		  $(jid).click();
        }
*/
      }
    );
  
  //-->
</script>
