<!-- JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる -->
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "fckeditor/fckeditor",
      "jquery/treeview/jquery.treeview.js",
      "app/blog"
    ]) %>
<% end -%>
<!-- StyleSheet(CSS)ファイルを<HEAD>で読み込ませる -->
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/treeview/jquery.treeview.css",
      "app/blog",
      "pagenate.css"
    ]) %>
<% end -%>

<SCRIPT LANGUAGE="JavaScript">
  <!--
  function change_writer(linkLoc){
    if(linkLoc !="") {
      str = base_uri + "/blog/view/user/" + linkLoc;
      window.location.href = str;
    }
  }
  //-->
</SCRIPT>

<input type="hidden" id="function_name" name="function_name" value="blog" />
<input type="hidden" id="default_user_cd" value="<%= @default_user_cd %>" />
<table class="frame_2pain">
  <tr>
    <td colspan="2">
      <%= render :partial=>"header" %>
    </td>
  </tr>
  <tr>
    <td class="frame_2pain_left">
      <!-- 投稿者一覧ブロック -->
      <div class="gadget" style="width:240px;">
        <div id="favorite_list" class="gadget_title" style="">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>お気に入りブログ</h3>
        </div>
        <!-- お気に入りブログ -->
        <div id="blog_menu_favorite_list" class="tree_box"></div>
      </div>
      <!-- 新着記事ブロック -->
      <div class="gadget" style="width:240px;">
        <div id="" class="gadget_title" style="">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>新着記事</h3>
        </div>
        <div id="blog_menu_new_article" class="gadget_body"></div><br />
      </div>
      <!-- 投稿者一覧ブロック -->
      <div class="gadget" style="width:240px;">
        <div id="" class="gadget_title" style="">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>投稿者一覧</h3>
        </div>
        <div id="blog_menu_bloger_list" class="tree_box"></div>
      </div>
      <!-- 月別アーカイブ -->
      <div class ="gadget" style="width:240px;">
        <div class="gadget_title">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>月別アーカイブ</h3>
        </div>
        <div id="monthly_list" class="gadget_body"></div>
      </div>
      <!-- キーワード一覧ブロック -->
      <div class="gadget" style="width:240px;">
        <div id="" class="gadget_title" style="">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>キーワード一覧</h3>
        </div>
        <div id="tag_list" class="gadget_body"></div>
      </div>
      <!-- ブログ検索ブロック -->
      <div class="gadget" style="width:240px;">
        <div id="" class="gadget_title" style="">
          <h3 style="color:blue;"><%= image_tag("icons/icon_blog.gif", :align => "top", :style => "margin-right:5px;") %>ブログ検索</h3>
        </div>
        <div id="blog_menu_search_list" class="gadget_body"></div><br />
      </div>
	   <%= button_to_function "新規投稿", "createArticle();", :class => "submit" %>
    </td>
    <td class="frame_2pain_right">
      <div id="right_pane"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
<!--
  $(document).ready(function(){
    $("#blog_menu_favorite_list").load(base_uri + "/blog/view/menu_favorite_list/");
    $("#blog_menu_bloger_list").load(base_uri + "/blog/view/menu_bloger_list/");
		
		var url = base_uri + "/blog/view/blog_list";
		var default_user_cd = $("#default_user_cd").val();
    if(default_user_cd != ""){
      url += "?user_cd=" + default_user_cd
    }
    $("#right_pane").load(url);
		// あいまい検索
    $("#blog_menu_search_list").load(base_uri + "/blog/view/menu_search_list?uid=<%= @user_cd%>");
  });
	
	function createArticle(){
    url = base_uri + "/blog/entry/article_create";
    $("#right_pane").load(url);
  }
-->
</script>
