<!-- お知らせ -->
<% if @from_mode.to_s == '0' || !@search_check1.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("icons/icon_notice.gif", :align => "top", :style => "margin-right:5px;") %>お知らせ&nbsp;&nbsp;【検索結果】<%=@notice_list.size%>件
      </h3>
    </td>
  </tr>
  <% @notice_list.each do |notice| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{notice.title}", {:controller => "notice/main", :action => "index", :id => notice.d_notice_head_id} %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <%=cut_off(notice.body,100)%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- Webメモリ -->
<% if @from_mode.to_s == '0' || !@search_check2.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_cabinet.gif", :align => "top", :style => "margin-right:5px;") %>Webメモリ&nbsp;&nbsp;【検索結果】<%=@cabinet_list.size%>件
      </h3>
    </td>
  </tr>
  <% @cabinet_list.each do |cabinet| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{cabinet.title}", {:controller => "cabinet/mine", :action => "index"} %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <%=cut_off(cabinet.d_cabinet_files[0].file_name,100)%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- 掲示板 -->
<% if @from_mode.to_s == '0' || !@search_check3.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_notice.gif", :align => "top", :style => "margin-right:5px;") %>掲示板&nbsp;&nbsp;【検索結果】<%=@comment_list.size%>件
      </h3>
    </td>
  </tr>
  <% @comment_list.each do |comment| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{@board_list[comment.d_bbs_board_id]}",
            {:controller => "bbs/main",
            :action => "index", :board_id => comment.d_bbs_board_id, :thread_id => comment.d_bbs_thread_id, :comment_id => comment.id} %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <%=cut_off(comment.body,100)%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- 社内ブログ -->
<% if @from_mode.to_s == '0' || !@search_check4.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_notice.gif", :align => "top", :style => "margin-right:5px;") %>社内ブログ&nbsp;&nbsp;【検索結果】<%=@blog_list.size%>件
      </h3>
    </td>
  </tr>
  <% @blog_list.each do |blog| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{blog.title}",
            {:controller => "blog/view", :action => "top", :id => blog.id} %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <%=cut_off(blog.body,100)%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- 共有キャビネット -->
<% if @from_mode.to_s == '0' || !@search_check5.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_cabinet.gif", :align => "top", :style => "margin-right:5px;") %>共有キャビネット&nbsp;&nbsp;【検索結果】<%=@public_cabinet_list.size%>件
      </h3>
    </td>
  </tr>
  <% @public_cabinet_list.each do |public_cabinet| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{public_cabinet.title}",
            {:controller => "cabinet/public", :action => "index", :auto => public_cabinet.d_cabinet_head.cabinet_kbn.to_s + "_" + public_cabinet.d_cabinet_head.id.to_s + "_" + public_cabinet.id.to_s} %>
        </h4>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- リンク集 -->
<% if @from_mode.to_s == '0' || !@search_check6.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_bookmark.gif", :align => "top", :style => "margin-right:5px;") %>リンク集&nbsp;&nbsp;【検索結果】<%=@bookmarks.size%>件
      </h3>
    </td>
  </tr>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to bookmark.title, bookmark.url, :target => "_blank" %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <%=cut_off(bookmark.url,100)%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>
<!-- アドレス帳 -->
<% if @from_mode.to_s == '0' || !@search_check7.nil? %>
<table>
  <tr>
    <td class="search_table_title">
      <h3>
        <%= image_tag("menu/menu_address.gif", :align => "top", :style => "margin-right:5px;") %>アドレス帳&nbsp;&nbsp;【検索結果】<%=@address_list.size%>件
      </h3>
    </td>
  </tr>
  <% @address_list.each do |address| %>
    <tr>
      <td class="search_table_contents_title">
        <h4>
          <%= link_to "#{address.name}", {:controller => "address/main", :action => "index", :adr_id => address.id} %>
        </h4>
      </td>
    </tr>
    <tr>
      <td class="search_table_contents_body">
        <% if address.email_address1 != "" %>
          <font style="font-size:0.9em;">メールアドレス：</font><%=address.email_address1%>
        <% end %>&nbsp;&nbsp
        <% if address.mobile_no != "" %>
          <font style="font-size:0.9em;">携帯電話：</font><%=address.mobile_no%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>

