<div id="" class="gadget_title gadget_title_long" style="">
  <h3 style=""><img src="/images/icons/icon_notice.gif" align="top" style="margin-right:5px;">あなたへの新着メッセージ</h3>
</div>
<div id="" class="gadget_body_long" style="">
  <table class="" style="width: 100%;">
    <% if @events %>
      <% for event in @events %>
        <tr>
          <td class="" style="width: 88%;">
            <%= link_to event.desc, "http://www.google.com/calendar/render", :popup => true %><%= "#{event.time}" %>
          </td>
          <td class="" style="width: 12%;">
            <%= h(datetime_strftime(DateTime.now())) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% for message in @msgs %>
      <tr>
        <td class="" style="width: 88%;">
          <img src="/images/icons/icon_balloon.gif" align="top" class="gadget_table_icon">
          <%= _link_to_detail(message.subject, message.params, :class => "enote_home_list_item") + h('  [') + message.from_name + h(']') %>
        </td>
        <td class="" style="width: 12%;">
          <%= h(datetime_strftime(message.postdate)) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%#= _rendering_paginate(@messages, 'message', params, "enote_home_message",0)  %>
