<input type="hidden" id="current_order" value="<%= @current_order %>" />
<% unless @activity_reference_list.nil? %>
  <table class="enote_general_table1" border="0" cellpadding="0" cellspacing="0" style="width:860px;">
    <% count = 1 %>
    <% @activity_reference_list.each do |report| %>
      <%
        if count % 2 == 0
          class_tr = "enote_general_table1_even"
        else
          class_tr = "enote_general_table1_odd"
        end
      %>
      <tr class="<%= class_tr %>">
        <td rowspan="2" class="enote_general_table1_cell_bordered" style="width:80px;text-align:center;"><%= date_strftime(report.d_report.action_date) %></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:100px;"><div style="padding:0px 3px;"><%= user_name report.d_report.user_cd %></div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:220px;"><div style="padding:0px 3px;"><%= customer_name report.company_cd %></div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:100px;"><div style="padding:0px 3px;"><%= action_target_name report.action_target_cd %></div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:100px;"><div style="padding:0px 3px;"><%= action_group_name report.action_group_cd %></div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:100px;"><div style="padding:0px 3px;"><%= action_name report.action_cd %></div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:80px;"><div style="padding:0px 3px;"><%= report.action_time %>&nbsp;h</div></td>
        <td rowspan="1" class="enote_general_table1_cell_bordered" style="width:80px;"><div style="padding:0px 3px;"><%= report.sale_amount %>&nbsp;円</div></td>
      </tr>
      <tr>
        <th style="text-align: center; font-weight: bold;background-color:#99CCFF;">コメント</th>
        <td colspan="6" class="enote_general_table1_cell_bordered"><div style="padding:0px 4px;"><%= report.comment %></div></td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
<% end %>
