<% unless @customer_employee_list.nil? %>
  <table class="enote_general_table1" style="width:100%;">
  <% @customer_employee_list.each do |employee| %>
    <tr>
      <td class="enote_general_table1_cell_bordered" style="width:10%;">&nbsp;<%= employee.company_post %></td>
      <td class="enote_general_table1_cell_bordered" style="width:10%;">&nbsp;<%= employee.company_job %></td>
      <td class="enote_general_table1_cell_bordered" style="width:20%;">&nbsp;<a href="javascript:customer_employee_edit(String('<%= employee.id %>'))"><%= employee.name %></a></td>
      <td class="enote_general_table1_cell_bordered" style="width:30%;">&nbsp;<a href="mailto:<%= employee.email_address1 %>"><%= employee.email_address1 %></a></td>
      <td class="enote_general_table1_cell_bordered" style="width:15%;">&nbsp;<%= employee.mobile_no %></td>
      <td class="enote_general_table1_cell_bordered" style="width:15%;">&nbsp;<%= employee.tel1 %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<script type="text/javascript">
  <!--
    function customer_employee_edit(id){
      var company_cd = $("#company_cd").val();
      $("#employee_contents").load("/master/customer/customer_employee_register?id=" + id + "&company_cd=" + company_cd);
    }
  //-->
</script>
