<% #JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる %>
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "jquery/treeview/jquery.treeview.js",
      "jquery/mbTabset/mbTabset.js",
      "app/bbs"
    ]) %>
<% end -%>
<% #StyleSheet(CSS)ファイルを<HEAD>で読み込ませる %>
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/treeview/jquery.treeview.css",
      "jquery/mbTabset/mbTabset.css",
      "app/bbs",
      "pagenate.css"
    ]) %>
<% end -%>

<input type="hidden" id="default_board_id" value="<%= @default_board_id %>" />
<input type="hidden" id="default_thread_id" value="<%= @default_thread_id %>" />
<div style="padding:5px;">
<table class="frame_2pain" style="">
  <tr>
    <!-- 左側エリア -->
    <td class="frame_2pain_left" style="">
        <%# 掲示板一覧 %>
        <div  class="gadget" style="width:240px;height:200px;">
          <%= render :partial=>"board_tree", :locals=>{:boards=>@boards} %>
        </div>
		<br />
        <%# 新着の投稿記事 %>
        <div id="newly_list" class="gadget" style="width:240px;">
        </div>
        <div id="search_box" class="gadget" style="width:240px;">
          <div id="" class="gadget_title" style="">
            <h3 style=""><img src="/images/icons/icon_freetalk.gif" align="top" style="margin-right:5px;">投稿を検索</h3>
          </div>
          <% form_remote_tag :update=>"right_pane", :url=>{:action=>:comment_search_pane} do %>
            <input type="hidden" id="form_board_id" name="form_board_id" value="" />
            <input type="hidden" id="form_thread_id" name="form_thread_id" value="" />
            <div class="gadget_body">投稿日の指定：<br>
              <table>
                <tr>
                  <td>
                    <%= text_field_tag 'date_from','',{:class=>"ime_off", :size => 10, :style => "height:20px;width:75px;"} %>
                  </td>
				</tr>
                <tr>
                  <td style="valign:top;text-align:center;">〜</td>
				</tr>
                <tr>
                  <td>
	                <%= text_field_tag 'date_to','',{:class=>"ime_off", :size => 10, :style => "height:20px;width:75px;"} %>
                  </td>
                </tr>
              </table>
              <br>
                               あいまい検索：<br>
              <%= text_field_tag 'keyword','',{:class=>"ime_on", :size => 20, :style => "height:20px;width:150px;margin:0px;"} %>
	          <%= hidden_field "category_id", "" %>
              <%= submit_tag "検索", :class => "submit_small", :style => "margin:0px;" %>
			  <!--
              <input type="button" onClick="btnSearch()" value="検索２">
			  -->
            </div>
          <% end %>
      </div>
    </td>
	<!-- 右側エリア -->
	<td id="right_pane" class="frame_2pain_right" style="">
    </td>
  </tr>
</table>
</div>

<script type="text/javascript">
  <!--
  $(document).ready(
    function(){
      setCalendar($("#date_from"));
      setCalendar($("#date_to"));
      url = "/bbs/main/newly_list/"
      $("#newly_list").load(url);


      board_id = $("#default_board_id").val();
      thread_id = $("#default_thread_id").val();

	  if (board_id != "" && thread_id != "") {
	  	url = "/bbs/main/comment_pane";
	  	url += "?board_id=" + board_id
	  	url += "&thread_id=" + thread_id;
	  }
		else if (board_id != "" && thread_id == "") {
	  	url = "/bbs/main/thread_pane";
	  	url += "?board_id=" + board_id
		}
	  else {
	  	// 右領域に掲示板一覧を表示
//        url = "/bbs/main/board_pane";
        url = "/bbs/main/bbs_tab";
      }
      $("#right_pane").load(url);
    }
  );

  function btnSearch(){
    board_id = $("#form_board_id").val();
    thread_id = $("#form_thread_id").val();
    date_from = $("#date_from").val();
	date_to = $("#date_to").val();
	keyword = $("#keyword").val();

	url = "/bbs/main/comment_search_pane?form_board_id=:board_id&form_thread_id=:thread_id&date_from=:date_from&date_to=:date_to&keyword=:keyword";
	url = url.replace(":board_id", board_id).replace(":thread_id", thread_id).replace(":date_from", date_from).replace(":date_to", date_to).replace(":keyword", keyword);

	$("#right_pane").load(url);
  }
  -->
</script>
