<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="robots" content="Index,Follow" />
    <meta name="keywords" content="eNote for Community" />
    <meta name="description" content="eNote for Community" />
    <meta name="rating" content="General" />
    <meta name="author" content="Lighthouse Corp" />
    <meta name="copyright" content="Copyright(c) 2001-2009 by Lighthouse Corp" />
    <meta name="generator" content="eNote" />
    <title>eNote for Community</title>
    <!-- 当サイト共通 JavaScripts -->
    <%= javascript_include_tag "jquery/jquery-1.3.2.min.js" %>
    <%= javascript_include_tag "jquery/jquery-ui-1.7.1.custom.min.js" %>
    <%= javascript_include_tag "jquery/jquery-ui-external/jquery.bgiframe.min.js" %>
    <%= javascript_include_tag "jquery/jrails" %>
    <%= javascript_include_tag "jquery/mbTabset/jquery.metadata.js" %>
    <%= javascript_include_tag "jquery/mbMenu/mbMenu.js" %>
    <%= javascript_include_tag "jquery/mbMenu/jquery.hoverIntent.js" %>
    <%= javascript_include_tag "application" %>
    <!-- 当サイト共通 StyleSheet -->
    <%= stylesheet_link_tag "jquery/jquery-ui/redmond/jquery-ui-1.7.1.custom.css" %>
    <%= stylesheet_link_tag "portal" %>
    <%= stylesheet_link_tag "headfoot" %>
    <%= stylesheet_link_tag "jquery/mbMenu/mbMenu.css" %>
    <!-- 各アプリケーション用 stylesheet -->
    <%= stylesheet_link_tag "app/schedule.css" %>
    <!-- 各アプリケーション用 JavaScript -->
    <%= javascript_include_tag "app/schedule.js" %>
  </head>
  <body>
    <div align="center" class="standard_frame">
      <table cellpadding="0" cellspacing="0" class="layout_table">
        <tr>
          <td valign="top">
            <!-- Main Partition Begin -->
            <div id="standard_main">
              <% wdays = ["日", "月", "火", "水", "木", "金", "土"] %>
              <table style="width:100%">
                <tr class="secretary_print_title"><td>
                  <% title_year = @current_date.strftime("%Y") %>
                  <% title_day = @current_date.strftime("%m") %>
                  <%=title_year%>年&nbsp;&nbsp;<%=title_day%>月度&nbsp;&nbsp;日程表
                </td></tr>
              </table>
              <br><br>

              <table class="calendar" border="1" cellspacing="0" cellpadding="0">
                <tr class="secretaryPrintName">
                  <th class="secretaryPrintCol1">日</th>
                  <th class="secretaryPrintCol1">曜</th>
                  <!-- メンバの名前を設定 -->
                  <% for member in @member_list %>
                    <th class="secretaryPrintCol2"><%=member[1]%></th>
                  <% end %>
                </tr>

                <!-- 日付ごとに処理を行う -->
                <!-- 日付 -->
                <% for i in 0..@last_manth_day-1 %>
                  <% day = @current_date + i %>
                  <% bg_color = "#ffffff" %>
                  <% if day.wday == 0 || day.wday == 6 %>
                    <% bg_color = "#ff9475" %>
                  <% elsif !@holiday_hash[day][0].nil? %>
                    <% bg_color = "#ff9475" %>
                  <% end %>
                  <tr>
                    <td class="secretary_print" bgcolor=<%=bg_color%> align="center" width="40px"><%=day.strftime("%d").to_i%></td>
                    <td class="secretary_print" bgcolor=<%=bg_color%> align="center" width="40px"><%=wdays[day.wday]%></td>
                    <!-- メンバごとに処理を行う -->
                    <!-- member[0]:社員コード, member[1]:社員名, [2]:日付に紐付くスケジュールリスト -->
                    <% for member in @member_list %>
                      <td class="secretary_print" bgcolor=<%=bg_color%> align="left">
                        <div class='calendar_day_cell_body'>
                          <!-- schedule[0]:日付, [1]:スケジュールリスト -->
                          <!-- 日付ごとのスケジュールを設定 -->
                          <!-- 1件もデータがない場合 -->
                          <% if member[2].size == 0 %>
                            &nbsp;
                          <% else %>
                            <% match_count = 0 %>
                            <% for schedule in member[2] %>
                              <% reserve = schedule[1] %>
                              <!-- 該当日付の場合 -->
                              <% target_day = schedule[0] %>
                              <% if target_day == day %>
                                <% match_count = match_count + 1 %>
                                <table><tr><td>
                                  <!-- 時間指定の場合 -->
                                  <% if reserve.plan_allday_flg == 0 %>
                                    <!-- 開始日の場合 -->
                                    <% if target_day == reserve.plan_date_from %>
                                      <%=reserve.plan_time_from.strftime("%H:%M")%>-
                                      <!-- 終了日と同日の場合 -->
                                      <% if target_day == reserve.plan_date_to %>
                                        <%=reserve.plan_time_to.strftime("%H:%M")%>
                                      <% end %>
                                      <br>
                                    <!-- 終了日の場合 -->
                                    <% elsif target_day == reserve.plan_date_to %>
                                      -<%=reserve.plan_time_to.strftime("%H:%M")%><br>
                                    <% end %>
                                  <% else %>
                                                                     終日<br>
                                  <% end %>
                                  <%=reserve.title%>
                                  <br>
                                </td></tr></table>
                              <% end %>
                            <% end %>
                            <!-- 日付と一致するデータがなかった場合 -->
                            <% if match_count == 0 %>
                              &nbsp;
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
