<!-- ボタン -->
<table class="master_table_button">
  <tr style="border:0px;">
    <td style="text-align:right;">
      <input id="new_button" type="submit" class="submit_small" value="新規" onclick="ClickNewButton()" />
    </td>
  </tr>
</table>

<!-- 一覧 -->
<table class="master_table1" style="margin:10px 0px 0px 10px;">
  <!-- タイトル -->
  <tr class="master_table1_title">
    <th style="width:400pt" class="master_table1_cell_bordered">施設名</th>
    <th style="width:220pt" class="master_table1_cell_bordered">拠点</th>
    <th style="width:230pt" class="master_table1_cell_bordered">組織</th>
    <th style="width:70pt" class="master_table1_cell_bordered">有効/無効 </th>
    <th style="width:80pt" class="master_table1_cell_bordered">更新日時 </th>
    <th style="width:100pt" class="master_table1_cell_bordered">編集/削除 </th>
  </tr>

  <!-- 内容 -->
  <% @m_facilities.each do |facility| %>
    <tr style="height:50px; padding-left:5px;">
      <td class="master_table1_cell_bordered" style="text-align:left;"><%= facility.name %></td>
      <td class="master_table1_cell_bordered" style="text-align:center;"><%= facility.place_name %></td>
      <td class="master_table1_cell_bordered" style="text-align:center;"><%= facility.org_name %></td>
      <td class="master_table1_cell_bordered" style="text-align:center;"><%= @enable_hash[facility.enable_flg] %></td>
      <td class="master_table1_cell_bordered" style="text-align:center;"><%= facility.updated_at.strftime("%Y/%m/%d") %></td>
      <td class="master_table1_cell_bordered" style="text-align:center;">
        <a href="#" onclick="ClickEditButton(<%=facility.id%>)" ><%= image_tag("icons/icon_entry.gif") %></a>
        <%= link_to(image_tag("icons/icon_trash.gif"), {:action => "delete", :id => facility.id}, {:confirm => "削除してよろしいですか？"}) %>
      </td>
    </tr>
  <% end %>
</table>

<!-- ボタン -->
<table class="master_table_button">
  <tr style="border:0px;">
    <td style="text-align:right;">
      <input id="new_button" type="submit" class="submit_small" value="新規" onclick="ClickNewButton()" />
    </td>
  </tr>
</table>

<script type="text/javascript">
<!--
  /*
  * 初期化
  */
  $(document).ready(function(){
  });

  /*
   * 新規
   */
  function ClickNewButton(){
    document.location = base_uri + "/master/facility/new";
  }

  /*
   * 編集
   */
  function ClickEditButton(id){
    document.location = base_uri + "/master/facility/edit?id=" + id;
  }
-->
</script>