<!-- JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる -->
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "jquery/tooltip/jquery.tooltip.js",
      "jquery/timer/jquery.timer.js",
      "app/facility"
    ]) %>
<% end -%>
<!-- StyleSheet(CSS)ファイルを<HEAD>で読み込ませる -->
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/tooltip/jquery.tooltip.css",
      "app/facility"
    ]) %>
<% end -%>

<table class="frame_2pain">
  <tr>
    <td>
      <!-- 一覧エリア -->
      <!-- 施設が存在する場合 -->
      <% if @facility_list.size > 0 %>
        <div id="facility_list"></div>
      <!-- 施設が存在しない場合 -->
      <% else %>
        <div>参照できる施設が存在しません。<br>施設を登録してください。</div>
      <% end %>
    </td>
  </tr>
</table>

<div id="dialog_ins" title="予約の登録"></div>
<div id="dialog_edit" title="予約の編集"></div>

<script type="text/javascript">
<!--
  /*
  * 一覧エリアに月単位の施設一覧を表示
  */
  $("#facility_list").load(
    base_uri + "/facility/reserve/month?facility_cd=" + <%=@select_facility_cd%> + "&month=" + <%=@month%>,
    "",
    function() {
/*
    //timer設定
    $.timer(300000, function (timer) {
      // jQueryでの処理
      $.ajax({
          type:'get',
          url:base_uri + "/facility/reserve/index_month?facility_cd=" + <%=@select_facility_cd%> + "&month=" + <%=@month%>,
          success:
              function(request){
                  // 受信結果を一覧エリアに反映させます。
                  $('#facility_list').html(request);
              }
      });
    });
*/
  });

  /*
  * 初期化
  */
  $(document).ready(function(){
    //ダイアログ
    dialog_reserve_ins();
    dialog_reserve_edit();

    //tooltip(備考)
    $('a.memo_disp').tooltip({
      track: true,
      delay: 0,
      showURL: false,
      opacity: 1,
      fixPNG: true,
      showBody: " - ",
      extraClass: 'pretty',
      top: -15,
      left: 5  });
  });
-->
</script>