<!-- エラー -->
<% if !flash[:duplicate_msg].nil? && flash[:duplicate_msg] != "" %>
  <table style="width:100%;">
    <tr style="color:red;">
      <td>下記の施設が既に予約されていた為、予約できませんでした。<br>詳細は、マイページをご覧ください。</td>
    </tr>
    <tr style="color:red;">
      <td><%= flash[:duplicate_msg] %></td>
    </tr>
    <tr style="height:5px;"></tr>
  </table>
<% end -%>

<!-- ヘッダ -->
<table cellpadding="1" cellspacing="0" style="width:100%;">
  <tr>
    <!-- 開始日 -->
    <% start_day = @week_list[0][0] %>
    <% end_date = start_day + 6 %>
    <td style="width:15px;">
      <%= link_to_remote("<img src='/images/icons/icon_arrow_left2.gif'>", :update => "facility_list",
      :url => {:action => "week", :week => (start_day - 7).strftime("%Y%m%d"), :group_checked_id => @group_checked_id}) %></a>
    </td>
    <td style="width:30px;">
      <%=button_to_remote("今週", :update => "facility_list", :url => {:action => "week", :group_checked_id => @group_checked_id})%>
    </td>
    <td style="width:15px;">
      <%= link_to_remote("<img src='/images/icons/icon_arrow_right2.gif'>", :update => "facility_list",
      :url => {:action => "week", :week => (start_day + 7).strftime("%Y%m%d"), :group_checked_id => @group_checked_id}) %></a>
    </td>
    <td style="width:250px;">
      <%= start_day.year.to_s %>年<%= start_day.month.to_s %>月<%= start_day.day.to_s %>日
                     ～
      <%= end_date.year.to_s %>年<%= end_date.month.to_s %>月<%= end_date.day.to_s %>日
    </td>
    <td>&nbsp;</td>
    <!-- 施設グループエリア -->
    <td style="width:250px;">
      <select id="facility_group_list_h" name="facility_group_list_h" style="width:170px;z-index:-10;" onchange="SelectFacilityGroup(0);">
        <% for facility_group in @facility_group_list %>
          <% if @group_checked_id == facility_group.facility_group_cd %>
            <option value = <%=facility_group.facility_group_cd%> selected><%=facility_group.name%></option>
          <% else %>
            <option value = <%=facility_group.facility_group_cd%>><%=facility_group.name%></option>
          <% end %>
        <% end %>
      </select>
    </td>
    <td>&nbsp;</td>
    <td style="width:20px;">
      <%=button_to("日", :action => "index_day", :group_checked_id => @group_checked_id)%>
    </td>
    <td style="width:20px;">
      <%=button_to("週", :action => "index_week", :group_checked_id => @group_checked_id)%>
    </td>
    <td style="width:20px;">
      <%=button_to("月", :action => "index_month")%>
    </td>
    <td style="width:50px;"><%=button_to("予定リスト", :action => "index_list")%></td>
  </tr>
</table>

<!-- 内容 -->
<table class="calendar" border="0" cellspacing="0" cellpadding="0">
  <tr class="dayName">
    <th>名前</th>
    <!-- 日付 -->
    <% wdays = ["日", "月", "火", "水", "木", "金", "土"] %>
    <% for day in @week_list %>
      <% day_disp = day[0].day.to_s + "日(" + wdays[day[0].wday] + ")" %>
      <th>
        <a href="#" onClick="dialog_reserve_open_ins('encodeURIComponent(<%=day[0]%>)', '')">
          <!-- 本日の場合 -->
          <% if Date.today == day[0] %>
            <div class="today_cell_title">
          <% end %>
          <%=day_disp%>
          <% if Date.today == day[0] %>
            </div>
          <% end %>
        </a>
        <!-- 祝日の場合 -->
        <% if !@holiday_hash[day[0]][0].nil? %>
          <div class="holiday_message" style="color:red;"><%=@holiday_hash[day[0]][0]%></div>
        <% end %>
        <!-- イベント日の場合 -->
        <% if !@event_hash[day[0]][0].nil? %>
          <div class="event_message" style="color:blue;"><%=@event_hash[day[0]][0]%></div>
        <% end %>
      </th>
    <% end %>
  </tr>
  <!-- メンバごとに処理を行う -->
  <!-- element[0]:施設コード, [1]:施設名, [1]:日付に紐付く施設リスト -->
  <% for element in @element_list %>
    <tr>
      <td class="week" style="width:125px;vertical-align:middle;">
        <div class='calendar_week_cell_body'>
          <a href="#" onClick="dialog_reserve_open_ins('encodeURIComponent(<%=session[:week_start_date].to_date%>)', '<%=element[0]%>')"><%=element[1]%></a>
        </div>
      </td>
      <!-- 日曜日から土曜日(開始日は設定により異なる)の施設を設定する -->
      <% for i in 0..6 %>
        <% class_name = "week" %>
        <% if @week_list[i][0].wday == 0 || @week_list[i][0].wday == 6 %>
          <% class_name = "week weekendDay" %>
        <% elsif !@holiday_hash[@week_list[i][0]][0].nil? %>
          <% class_name = "week holiday" %>
        <% elsif !@event_hash[@week_list[i][0]][0].nil? %>
          <% class_name = "week event" %>
        <% end %>

        <td class="<%=class_name%>" style="vertical-align:top;"><div class='calendar_week_cell_body'>
          <!-- reserve[0]:日付, [1]:施設リスト -->
          <!-- 日付ごとの施設を設定 -->
          <% match_count = 0 %>
          <% for facility in element[2] %>
            <% reserve = facility[1] %>
            <!-- 該当日付の場合 -->
            <% target_day = facility[0] %>
            <% if target_day == @week_list[i][0] %>
              <% match_count = match_count + 1 %>
              <table><tr><td>
                <% if reserve.repeat_facility_id.nil? %>
                  <% repeat_flg = '0' %>
                <% else %>
                  <% repeat_flg = '1' %>
                <% end %>
                <a href="#" class="memo_disp" title="<%=reserve.memo%>" onclick="dialog_reserve_open_edit('<%=reserve.id%>', '<%=repeat_flg%>'); return false;">
                ◆
                <!-- 時間指定の場合 -->
                <% if reserve.plan_allday_flg.to_s == "0" %>
                  <!-- 開始日の場合 -->
                  <% if target_day.strftime("%Y-%m-%d") == reserve.plan_date_from %>
                    <%=Time.parse(reserve.plan_time_from).strftime("%H:%M")%>-
                    <!-- 終了日と同日の場合 -->
                    <% if target_day.strftime("%Y-%m-%d") == reserve.plan_date_to %>
                      <%=Time.parse(reserve.plan_time_to).strftime("%H:%M")%>
                    <% end %>
                    <br>
                  <!-- 終了日の場合 -->
                  <% elsif target_day.strftime("%Y-%m-%d") == reserve.plan_date_to %>
                    -<%=Time.parse(reserve.plan_time_to).strftime("%H:%M")%><br>
                  <% end %>
                <% else %>
                                           終日<br>
                <% end %>
                <%=reserve.title%>(<%=reserve.create_user_name%>)
                <br>
                </a>
              </td></tr></table>
            <% end %>
          <% end %>
          <!-- 日付と一致するデータがなかった場合 -->
          <% if match_count == 0 %>
            &nbsp;
          <% end %>

        </div></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!-- フッタ -->
<table cellpadding="1" cellspacing="0" style="width:100%;">
  <tr>
    <!-- 開始日 -->
    <% start_day = @week_list[0][0] %>
    <% end_date = start_day + 6 %>
    <td style="width:15px;">
      <%= link_to_remote("<img src='/images/icons/icon_arrow_left2.gif'>", :update => "facility_list",
      :url => {:action => "week", :week => (start_day - 7).strftime("%Y%m%d"), :group_checked_id => @group_checked_id}) %></a>
    </td>
    <td style="width:30px;">
      <%=button_to_remote("今週", :update => "facility_list", :url => {:action => "week", :group_checked_id => @group_checked_id})%>
    </td>
    <td style="width:15px;">
      <%= link_to_remote("<img src='/images/icons/icon_arrow_right2.gif'>", :update => "facility_list",
      :url => {:action => "week", :week => (start_day + 7).strftime("%Y%m%d"), :group_checked_id => @group_checked_id}) %></a>
    </td>
    <td style="width:250px;">
      <%= start_day.year.to_s %>年<%= start_day.month.to_s %>月<%= start_day.day.to_s %>日
                     ～
      <%= end_date.year.to_s %>年<%= end_date.month.to_s %>月<%= end_date.day.to_s %>日
    </td>
    <td>&nbsp;</td>
    <!-- 施設グループエリア -->
    <td style="width:250px;">
      <select id="facility_group_list_f" name="facility_group_list_f" style="width:170px;z-index:-10;" onchange="SelectFacilityGroup(1);">
        <% for facility_group in @facility_group_list %>
          <% if @group_checked_id == facility_group.facility_group_cd %>
            <option value = <%=facility_group.facility_group_cd%> selected><%=facility_group.name%></option>
          <% else %>
            <option value = <%=facility_group.facility_group_cd%>><%=facility_group.name%></option>
          <% end %>
        <% end %>
      </select>
    </td>
    <td>&nbsp;</td>
    <td style="width:20px;">
      <%=button_to("日", :action => "index_day", :group_checked_id => @group_checked_id)%>
    </td>
    <td style="width:20px;">
      <%=button_to("週", :action => "index_week", :group_checked_id => @group_checked_id)%>
    </td>
    <td style="width:20px;">
      <%=button_to("月", :action => "index_month")%>
    </td>
    <td style="width:50px;"><%=button_to("予定リスト", :action => "index_list")%></td>
  </tr>
</table>

<input type="hidden" id="facility_cd" name="facility_cd" value=<%=@select_facility_cd%> />

<script type="text/javascript">
<!--
  /*
   * 施設グループ選択時の処理
   */
  function SelectFacilityGroup(click_flg){
    //ヘッダ
    if (click_flg == 0) {
      group_checked_id = $("#facility_group_list_h").val()
    //フッタ
    } else {
      group_checked_id = $("#facility_group_list_f").val()
    }

    // jQueryでの処理
    $.ajax({
        type:'get',
        url:'/facility/reserve/week?&group_checked_id=' + group_checked_id + '&week=' + <%=session[:week_start_date]%>,
        success:
            function(request){
                // 受信結果を一覧エリアに反映させます。
                $('#facility_list').html(request);
            }
    });
  }
-->
</script>
