<% #JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる %>
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "fckeditor/fckeditor",
      "jquery/treeview/jquery.treeview.js",
      "jquery/mbTabset/mbTabset.js",
      "app/cabinet"
    ]) %>
<% end -%>
<% #StyleSheet(CSS)ファイルを<HEAD>で読み込ませる %>
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/treeview/jquery.treeview.css",
      "jquery/mbTabset/mbTabset.css",
      "app/cabinet"
    ]) %>
<% end -%>

<div style="padding:5px;">

  <div class="tabset" id="tabset">
    <a id="c" class="tab {content:'cont_0'}">キャビネット</a>
    <a id="a" class="tab {content:'cont_1'}">新規保存</a>
  </div>

  <div id="cont_0">
    <table class="frame_2pain">
      <tr>
        <td class="frame_2pain_left">
          <div class="gadget" style="width:240px;">
            <div id="" class="gadget_title" style="">
              <h3 style="color:blue;"><img src="/images/icons/icon_notice.gif" align="top" style="margin-right:5px;">マイキャビネットを検索</h3>
            </div>
            <div class="gadget_body">
              登録日の指定：<br>
              <%= text_field_tag 'date_from','',{:size => 10, :style => "height:20px;width:90px;"} %>〜
              <%= text_field_tag 'date_to','',{:size => 10, :style => "height:20px;width:90px;"} %>
              <br>
              あいまい検索：<br>
              <%= text_field_tag 'blog_article','',{:size => 20, :style => "height:20px;width:150px;margin:0px;"} %>
              <%= button_to_function("検索", "alert('工事中');", :id => "button_", :class => "submit_small", :style => "margin:0px;") %>
            </div>
          </div>
              <%= button_to_function("ファイルを保存", "alert('工事中');", :id => "button_", :class => "submit_large", :style => "margin:0px;") %>
        </td>
        <td class="frame_2pain_right">
          <table class="enote_general_table1">
            <tr class="enote_general_table1_title">
              <th style="width:250pt" class="enote_general_table1_cell_bordered">タイトル</th>
              <th style="width:100pt" class="enote_general_table1_cell_bordered">ファイル名</th>
              <th style="width:70pt" class="enote_general_table1_cell_bordered">更新日時</th>
              <th style="width:70pt" class="enote_general_table1_cell_bordered">有効期限</th>
              <th style="width:60pt" class="enote_general_table1_cell_bordered">サイズ</th>
              <th style="width:70pt" class="enote_general_table1_cell_bordered">&nbsp;</th>
            </tr>

            <%# for address in @addresses %>
            <tr style="height:30px;">
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">6月の売上見込み</td>
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">6月見込.xls</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">09/05/12</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;color:red;">残り3日</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">1,235KB</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">
                <img src="/images/icons/icon_file.gif">
                <img src="/images/icons/icon_attachment.gif">
                <img src="/images/icons/icon_trash.gif">
              </td>
            </tr>
            <tr style="height:30px;">
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">7月の有給休暇申請書</td>
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">yukyuu.doc</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">09/06/01</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">残り15日</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">123KB</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">
                <%= link_to '<img src="/images/icons/icon_file.gif">', "#", :onclick => "open_dialog();" %>
                <img src="/images/icons/icon_attachment.gif">
                <img src="/images/icons/icon_trash.gif">
              </td>
            </tr>
            <tr style="height:30px;">
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">新薬勉強会のご案内</td>
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">annnai.doc</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">09/06/11</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">残り25日</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">345KB</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">
                <img src="/images/icons/icon_file.gif">
                <img src="/images/icons/icon_attachment.gif">
                <img src="/images/icons/icon_trash.gif">
              </td>
            </tr>
            <tr style="height:30px;">
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">5月売上明細のファイル</td>
              <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">5月売上.xls</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">09/06/10</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">残り25日</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">1,235KB</td>
              <td class="enote_general_table1_cell_bordered" style="text-align:center;">
                <img src="/images/icons/icon_file.gif">
                <img src="/images/icons/icon_attachment.gif">
                <img src="/images/icons/icon_trash.gif">
              </td>
            </tr>
            <%# end %>
          </table>
          <table style="width:100%;"><tr>
              <td style="text-align:left;">
                <%= link_to(h('前の２０件'), "") %>
              </td>
              <td>&nbsp;</td>
              <td style="text-align:right;">
                <%= link_to(h('次の２０件'), "") %>
              </td>
          </tr></table>

        </td>
      </tr>
    </table>
  </div>

  <div id="cont_1">
    <%= form_tag :action => 'created' %>
    <%= hidden_field 'blog_article', 'id'  %>
    <%= hidden_field_tag 'blog_edit_flag', @blog_edit_flag  %>

    <table border="0" cellpadding="0" cellspacing="10">
      <tr>
        <td style="width:250px;text-align:left;">
          <b>保存するキャビネットの選択</b>
        </td>
        <td>
          <b>公開期間</b>
        </td>
      </tr>
      <tr>
        <td valign="top" style="text-align:left;">
          <div style="border:1px solid black;background-color:#fff;text-align:left;">
            <ul id="info_browser" class="filetree">
              <li><span class="folder">マイキャビネット</span>
                <ul>
                  <li><span class="folder">見積書</span></li>
                  <li><span class="folder">営業用リーフ</span></li>
                  <li><span class="folder">提案書</span></li>
                  <li><span class="folder">その他</span></li>
                </ul>
              </li>
            </ul>
          </div>
        </td>
        <td valign="top">
          <table border="0" cellpadding="0" cellspacing="0" style="margin-left:15px;"><tr>
              <td><%= text_field 'blog_article','subject',{:size => 10, :style => "width:120px;"} %></td>
              <td align="center" width="30">〜</td>
              <td><%= text_field 'blog_article','subject',{:size => 10, :style => "width:120px;"} %></td>
          </tr></table>
          <div style="margin-top:15px;"><b>重要度</b></div>
          <table border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;">
            <tr><td style="padding-left:15px;">
                <%= radio_button("blog_article", "published_flg", "3") %>公式通達
                <%= radio_button("blog_article", "published_flg", "2") %>重要
                <%= radio_button("blog_article", "published_flg", "1") %>一般
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
    <hr>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" style="width:730px;text-align:left;">
          <h3 style="text-align:left;margin-left:4px;">タイトル</h3>
          <div class="enote_blog_subject">
            <%= text_field 'blog_article','subject',{:size => 60, :style => "width:680px;", :class => 'enote_blog_subject_text' } %>
          </div>
          <h3 style="text-align:left;margin-left:4px;">ファイルの説明</h3>
          <div class="enote_blog_body">
            <%= text_area 'blog_article', 'body', {:cols => 75, :rows => 30, :class => 'enote_blog_body_text' }  %>
          </div>
          <h3 style="text-align:left;margin-left:4px;">保存するファイルの指定</h3>
          <%= file_field_tag 'attachment', :class => "width:400px;" %>
          <table style="border:0px;width:100%;">
            <tr>
              <td style="text-align:left;padding-left:10px;">
                <%= submit_tag '保存する',{:class => 'submit'} %>
              </td>
              <td>&nbsp;</td>
              <td style="text-align:right;padding-right:10px;">
                <%= link_to '戻る',{:controller => 'view', :action => 'top'},{:class => 'submit'} %>
              </td>
            </tr>
          </table>
        </td>
        <td valign="top" style="text-align:left;">
          <table style="border:0px;width:200px;">
            <tr>
              <td style="text-align:left;padding-left:10px;">
                <h3>検索キーワード</h3>
              </td>
            </tr>
            <tr>
              <td style="text-align:left;padding-left:10px;">
                <%= text_area 'blog_article','keywords', :size => "23x3", :style => "width:200px;" %>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    </form>

  </div>

  <div id="dialog" title="有給休暇申請書">
    <table class="enote_general_table1" style="width:460px;">
      <tr class="enote_general_table1_title">
        <th colspan="3" class="enote_general_table1_cell_bordered">タイトル</th>
      </tr>
      <tr style="height:30px;">
        <td colspan="3" class="enote_general_table1_cell_bordered" style="padding-left:5px;">有給休暇申請書</td>
      </tr>
      <tr class="enote_general_table1_title">
        <th colspan="3" class="enote_general_table1_cell_bordered">ファイルの説明</th>
      </tr>
      <tr style="height:30px;">
        <td colspan="3" valign="top" class="enote_general_table1_cell_bordered" style="padding-left:5px;height:200px;">
          有給休暇を申請する際に、必要事項を記入して人事部へ提出してください。<br>
          
        </td>
      </tr>
      <tr class="enote_general_table1_title">
        <th style="width:33%;" class="enote_general_table1_cell_bordered">投稿部署</th>
        <th style="width:33%;" class="enote_general_table1_cell_bordered">投稿者</th>
        <th style="width:33%;" class="enote_general_table1_cell_bordered">更新日時</th>
      </tr>
      <tr style="height:30px;">
        <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">人事部</td>
        <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">鈴木一郎</td>
        <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">2009/05/01 16:32</td>
      </tr>
      <tr class="enote_general_table1_title">
        <th colspan="2" class="enote_general_table1_cell_bordered">ファイル名</th>
        <th class="enote_general_table1_cell_bordered">サイズ</th>
      </tr>
      <tr style="height:30px;">
        <td colspan="2" class="enote_general_table1_cell_bordered" style="padding-left:5px;">有給休暇申請書.doc</td>
        <td class="enote_general_table1_cell_bordered" style="padding-left:5px;">234KB</td>
      </tr>

    </table>

  </div>

</div>

<br>
<script type="text/javascript">
  <!--
  $(document).ready(function(){
    var oFCKeditor = new FCKeditor('blog_article_body','700','500');
    oFCKeditor.Height = 500;
    oFCKeditor.ReplaceTextarea();

    //ツリーを表示
    $("#info_browser0").treeview();
    $("#info_browser").treeview();
    $("#sosiki_browser").treeview();
    $("#sosiki_browser2").treeview();

    //タブを表示
    $("#tabset").buildMbTabset({
      stop:function(){if ($("#array").is(":checked")) alert($.mbTabset.mbTabsetArray)},
      sortable:false,
      position:"left"
    });

    $("#dialog").dialog({
      bgiframe: true,
      modal: true,
      autoOpen: false,
      height: 500,
      width: 500,
      buttons: {
        "ダウンロード": function() {
          $(this).dialog('close');
        },
        "閉じる": function() {
          $(this).dialog('close');
        }
      }
    });

  });
  -->
</script>

<script type="text/javascript">
  <!--
  function open_dialog(){
    $('#dialog').dialog('open');
  };
  -->
</script>
