<table class="master_table2">
  <tr class="master_table2_title">
    <td class="master_table2_title">活動内容CD</td>
    <td class="master_table2_content">
      <%= hidden_field :m_actions, :id %>
      <%= hidden_field :m_actions, :action_group_cd %>
      <%= text_field :m_actions, :action_cd, :class=>"ime_off", :size=>4 %>
    </td>
  </tr>
  <tr>
    <td class="master_table2_title">活動内容</td>
    <td class="master_table2_content">
      <%= text_field :m_actions, :action_name, :class=>"ime_on" %>
    </td>
  </tr>
  <tr>
    <td class="master_table2_title">表示順</td>
    <td class="master_table2_content">
      <%= text_field :m_actions, :sort_no, :class=>"ime_off", :size=>3 %>
    </td>
  </tr>
  <tr>
    <td class="master_table2_title">備考</td>
    <td class="master_table2_content">
      <%= text_area :m_actions, :memo, :class=>"ime_on", :rows=>5, :cols=>30 %>
    </td>
  </tr>
</table>
<br />
<table>
  <tr>
    <td>
      <input type="button" id="button_add" class="submit_small" value="追加" />
      <input type="button" id="button_update" class="submit_small" value="更新" />
      <input type="button" id="button_delete" class="submit_small" value="削除" />
    </td>
  </tr>
</table>
<input type="hidden" id="authenticity_token" value="<%= form_authenticity_token %>" />

<script type="text/javascript">
  <!--
    /**
     *
     * @param {Object} {type:"POST"
     * @param {Object} url:"/master/report/action_add"
     * @param {Object} data:get_formdata(
     */
    $("#button_add").click(
      function(){
        jQuery.ajax(
          {
            type : "POST",
            url  : "/master/report/action_add",
            data : get_formdata(),
            success :
              function(data, dataType){
                $("#select_actions").html(data);
                // 入力フォームをクリアスる。
                $("#input_form").html("");
              },
            error :
              function(){
                alert("通信エラー");
              },
            complete :
              function(){}
          }
        );
      }
    );

    /**
     *
     */
    $("#button_update").click(
      function(){
        jQuery.ajax(
          {
            type : "POST",
            url  : "/master/report/action_update",
            data : get_formdata(),
            success :
              function(data, dataType){
                $("#select_actions").html(data);
                // 入力フォームをクリアスる。
                $("#input_form").html("");
              },
            error :
              function(){
                alert("通信エラー");
              },
            complete :
              function(){}
          }
        );
      }
    );

    /**
     *
     */
    $("#button_delete").click(
      function(){
        jQuery.ajax(
          {
            type : "POST",
            url  : "/master/report/action_delete",
            data : get_formdata(),
            success :
              function(data, dataType){
                $("#select_actions").html(data);
                // 入力フォームをクリアスる。
                $("#input_form").html("");
              },
            error :
              function(){
                alert("通信エラー");
              },
            complete :
              function(){}
          }
        );
      }
    );

    /**
     *
     */
    function get_formdata(){

      var result = "";
      var action_id = $("#m_actions_id").val();
      var action_group_cd = $("#m_actions_action_group_cd").val();
      var action_cd = $("#m_actions_action_cd").val();
      var action_name = $("#m_actions_action_name").val();
      var sort_no = $("#m_actions_sort_no").val();
      var memo = $("#m_actions_memo").val();
      var authenticity_token = $("#authenticity_token").val();

      result = "id=" + action_id + "&" +
               "action_group_cd=" + action_group_cd + "&" +
               "action_cd=" + action_cd + "&" +
               "action_name=" + action_name + "&" +
               "sort_no=" + sort_no + "&" +
               "memo=" + memo + "&" +
               "authenticity_token=" + authenticity_token;

      return result;
    }
  -->
</script>
