<!-- エラー -->
<% err = flash[:address_err_msg] %>
<% if !err.nil? && err != "" %>
  <table style="margin:10px 0px 0px 10px;">
    <tr style="color:red;">
      <td><%= err %></td>
    </tr>
  </table>
<% end %>

<table class="master_table2" style="margin:10px 0px 0px 10px;">
  <tr>
    <td class="master_table2_title">共用グループ名&nbsp;<span style="color:red;">（必須）</span></td>
    <td class="master_table2_content">
      <%= text_field_tag 'title', @title,  {:size => 50, :maxlength => 20} %>
    </td>
  </tr>
  <tr>
    <td class="master_table2_title">メンバー&nbsp;<span style="color:red;">（必須）</span></td>
    <td class="master_table2_content">
      <table>
        <tr>
          <td>
            <!-- 組織ツリー -->
            <div id="tree_org"></div>
          </td>
          <td>
            <!-- 選択エリア -->
            <table>
              <tr>
                <th style="width:45%;"></th>
                <th style="width:10%;"></th>
                <th style="width:45%; text-align:left;">選択したメンバー</th>
              </tr>
              <tr>
                <!-- 選択候補エリア -->
                <td align="center" valign="top">
                  <div id="undecided">
                    <%= select_tag('undecided_member', "", :size=>5, :multiple=>true, :class=>'master_selectbox4') %>
                  </div>
                </td>
                <!-- 矢印 -->
                <td align="center" style="width:30px;">
                  <input id="btn_move_right" type="button" value=">" style="border:0px;"
                    onclick="ClickAddDecided('undecided_member','decided_member')" class="submit_small" />
                <br><br>
                  <input id="btn_move_left" type="button" value="<" style="border:0px;"
                    onclick="ClickAddUnDecided('undecided_member','decided_member')" class="submit_small" />
                </td>
                <!-- 選択決定エリア -->
                <td align="center" valign="top">
                  <div id="decided">
                    <% options = "" %>
                    <% if !@member_decide.nil? %>
                      <% @member_decide.each do |member|%>
                        <% options += "<option value=#{member[0]} >#{member[1]}</options>" %>
                      <% end %>
                    <% end %>
                    <%= select_tag('decided_member', options, :size=>5, :multiple=>true, :class=>'master_selectbox4') %>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= hidden_field_tag 'id', @id %>
<%= hidden_field_tag 'decided_member_all' %>

<script type="text/javascript">
<!--
  /*
  * 初期化
  */
  $(document).ready(function(){
    //組織ツリーを表示
    $("#tree_org").load(base_uri + "/address/public/tree_org");
  });
-->
</script>