<div id="" class="gadget_title gadget_title_long" style="">
  <table cellpadding="0" cellspacing="0" class="" style="width:100%;">
    <tr>
      <td style="text-indent:6px;">
        <h3 style=""><img src="../../images/icons/icon_rss.gif" align="top" style="margin-right:5px;">RSSリーダー</h3>
      </td>
      <td class="" style="width:230px;text-align:right;">
        <select name="trunk_id" id="trunk_id" style="width:220px" onchange="GetRSSReader();">
          <option value='0'>全て表示</option>
          <%= options_for_select @rss_trunks.collect {|p| [ p.name, p.id ] }, @trunk_id %>
        </select>
      </td>
      <td class="" style="width:90px;text-align:right;">
        <select name="trunk_date" id="trunk_date" style="width:75px" onchange="GetRSSReader();">
          <%= options_for_select [["昨日",1],["3日前",3],["1週間前",7],["15日前",15],["30日前",30]], @trunk_date %>
        </select>
      </td>
      <td class="" style="width:47px;text-align:right;">
        <%= link_to h("設定"), :controller => "home/rss", :action => "setting" %>&nbsp;
      </td>
    </tr>
  </table>
</div>

<div id="" class="gadget_body_long" style="">  
  <table style="width: 100%">
    <% @leaves.each do |leaf| %>
      <tr>
        <td class="" style="width: 88%">
          <img src="../../images/icons/icon_balloon.gif" align="top" class="gadget_table_icon">
          <%
            adapted = ""
            adapted = "..." if leaf.title.jsize > 30
            trunk_name = DRssTrunk.find(:first, :conditions => ["id = ?", leaf.d_rss_trunk_id ]).name
			trunk_name = jslice(trunk_name, 0, 15) + "..." if trunk_name.jsize > 15
          %>
          <%= link_to h(jslice(leaf.title, 0, 30) + adapted), leaf.url, :title => leaf.title, :popup => true, :class => "enote_home_list_item"%>&nbsp;[<%= trunk_name %>]
        </td>
        <td class="" style="width:12%;">
          <%= datetime_strftime(leaf.publish) unless leaf.publish.nil? %>
        </td>
      </tr>
    <% end %>
	<tr>
      <td style="text-align:center;">
      <%= will_paginate(@leaves, :renderer => RemoteLinkRenderer,
                                      :update => 'mypage_rss',
                                      :params=> { :action => 'rss_reader',
                                                  :trunks_id => @trunk_id,
                                                  :trunks_date => @trunk_date
                                                },
                                      :prev_label => "<<前へ",
                                      :next_label => "次へ>>",
                                      :method => :get) if @leaves.size > 0
      %>
      </td>
    </tr>
  </table>
</div>

